
@font-face {
    font-family: "Highland Gothic";
    src: url("../fonts/HighlandGothicFLF.ttf") format("truetype");
}

@media screen and (min-width: 601px) {

}

/* Provide sufficient contrast against white background */
a {
  color: white;
}

a:hover {
    color: white;
    opacity: 0.5;
}

button {
    background-color: transparent;
    color: white;
    border: none;
}

.btn-primary {
  color: black;
  background-color: white;
  border-radius: 25px;
  border-color: white;
  margin: 5px;
}

    .btn-primary:hover {
        color: white;
        background-color: black;
        border-color: black;
        opacity: 1;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    font-family: 'Highland Gothic', Fallback, sans-serif;
    margin-bottom: 60px;
    color: white;
    background-color: #121212;
}
.footer {
  position: relative; /* absolute */
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*Langauges*/
.fade-in-text {
  list-style: none;
  display: inline-block;
  /*font-size: 150px;*/
  color: white;
  font-size: 1.7rem;
  text-align: center;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
.fade-in-text li{
  display: inline;
  margin: 2%;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
}

.left-paddle {
    left: 0;
}

.right-paddle {
    right: 0;
}

.hidden {
    display: none;
}

.print {
    margin: auto;
    max-width: 500px;
}

    .print span {
        display: inline-block;
        width: 100px;
    }

/* Dropdown List */

.Hovercard {
    position: relative;
    padding: 42px 32px;
    clip-path: circle(5% at 96% 12%);
    transition: all ease-in-out 0.3s;
    background-color: #ffffff;
    color: black;
}

.card__infoicon {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #000000;
    transition: ease-out 0.3s;
    text-align: center;
}

.card__title {
    margin: 0;
    font-size: 3em;
    line-height: 1.8;
}

.card__description {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.6;
}

.card__credits {
    margin: 0;
    padding: 4px 0;
    font-size: 1.1em;
}

.card__reference {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #0099ff;
    text-decoration: none;
    transition: ease-in 0.3s;
}

    .card__reference:hover {
        border-bottom-color: #0099ff;
    }

.Hovercard:hover, .Hovercard:focus {
    clip-path: circle(75%);
    border-radius: 20px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    outline: none;
}

    .Hovercard:hover .card__infoicon, .Hovercard:focus .card__infoicon {
        opacity: 0;
    }

.Hovercard:focus {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.12), 0px 3px 18px rgba(0, 0, 0, 0.08), 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
}
/* Contact */
.li-myList {
    float: left;
    padding: 10px;
}
.footer-Text {
    color: white;
}
/* On Scrolling effect */

.animation-element {
    opacity: 0;
    position: relative;
}

    .animation-element.slide-left {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        opacity: 0;
        -moz-transform: translate3d(-100px, 0px, 0px);
        -webkit-transform: translate3d(-100px, 0px, 0px);
        -o-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        transform: translate3d(-100px, 0px, 0px);
    }

    .animation-element.slide-right {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        opacity: 0;
        -moz-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate(100px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px);
    }

        .animation-element.slide-left.in-view, .animation-element.slide-right.in-view {
            opacity: 1;
            -moz-transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

.slowAppearence {
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
/* Fliping Cards */
.flip-card {
    background-color: transparent;
    float: left;
    width: 48%;
    height: 300px;
    perspective: 1000px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .flip-card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #262a2b;
    color: #b7b7b7;
    padding: 25% 5%;
    border-radius: 25px;
}

.flip-card-back {
    background-color: #262a2b;
    color: #b7b7b7;
    padding: 15% 10%;
    border-radius: 25px;
    transform: rotateY(180deg);
}
/* Creative Listing */
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li .btn-primary {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
    .tilesWrap li .btn-primary:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 120%;
        background: #b7b7b7;
        top: 0;
        opacity: 0;
        left: -140px;
        border-radius: 0 20px 20px 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    .tilesWrap li:hover .btn-primary {
        transform: translateY(5px);
        opacity: 1;
    }
    .tilesWrap li .btn-primary:hover {
        color: #262a2b;
    }
        .tilesWrap li .btn-primary:hover:before {
            left: 0;
            opacity: 1;
        }
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}

.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(2):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.tilesWrap li:nth-child(5):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
.tilesWrap li:nth-child(6):before {
	background: #f2709c;
background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(7):before {
	background: #c21500;
background: -webkit-linear-gradient(to right, #ffc500, #c21500);
background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(8):before {
	background: #FC354C;
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
background: linear-gradient(to right, #0ABFBC, #FC354C);
}
.tilesWrap li:nth-child(9):before {
	background: #C9FFBF;
background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}
/* navbar items */
.nav-item a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

@media screen and (max-width: 600px) {
    .nav-item a {
      font-size: 8px;
      padding: 15px 0;
    }
}

.nav-item a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item a:hover:after {
  width: 100%;
  left: 0;
}
/* Article Cards */
.art-card {
    background-color: transparent;
    float: left;
    width: 100%;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .art-card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.art-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.art-card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.art-card-content {
    background-color: #262a2b;
    color: #b7b7b7;
    padding: 10% 5%;
    border-radius: 25px;
}
@media screen and (max-width: 600px) {
    .art-card-content {
        font-size: 60%;
        width: 100%;
    }
    .art-card-content h3 {
      font-size: 20px;
    }
}

@keyframes overlay {
  0% {
    background-color: #2a2a2a;
    box-shadow: 4px 8px #0d0d0d;
  }
  100% {
    background-color: #353535;
    box-shadow: 4px 8px black;
  }
}

@-moz-keyframes overlay {
  0% {
    background-color: #2a2a2a;
    box-shadow: 4px 8px #0d0d0d;
  }
  100% {
    background-color: #353535;
    box-shadow: 4px 8px black;
  }
}

@-webkit-keyframes overlay {
  0% {
    background-color: #2a2a2a;
    box-shadow: 4px 8px #0d0d0d;
  }
  100% {
    background-color: #353535;
    box-shadow: 4px 8px black;
  }
}

@-o-keyframes overlay {
  0% {
    background-color: #2a2a2a;
    box-shadow: 4px 8px #0d0d0d;
  }
  100% {
    background-color: #353535;
    box-shadow: 4px 8px black;
  }
}

@-ms-keyframes overlay {
  0% {
    background-color: #2a2a2a;
    box-shadow: 4px 8px #0d0d0d;
  }
  100% {
    background-color: #353535;
    box-shadow: 4px 8px black;
  }
}

.card-block{
  background-color: #2a2a2a;
  box-shadow: 4px 8px #0d0d0d;
  border-radius: 1rem;
  padding: 20px;
}
.card-block:hover{
  animation: overlay linear .5s;
  -webkit-animation: overlay linear .5s;
  -moz-animation: overlay linear .5s;
  -o-animation: overlay linear .5s;
  -ms-animation: overlay linear .5s;
  background-color: #353535;
  box-shadow: 4px 8px black;
}

.tech-card{
  margin: 20px;
  display: block;
  text-align: center;
}

.text-grey{
  color: #8f8e8e;
}

.CV-Blocks{
  margin: 10rem 10rem;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .CV-Blocks{
    margin: 10% 5%;
  }
}

/* typing effect */
.wrapper {
  height: 10vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 24ch;
  animation: typing 2s steps(24), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media screen and (max-width: 600px) {
  .typing-demo{
    font-size: 1.5em;
  }
}
/* New NavBar*/
.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: courier new;
  font-weight: bold;
}

.topnav a:hover {
  background-color: black;
  color: white;
  opacity: 1;
}

.topnav a.active {
  background-color: #ff0000;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.right-lnk {
   float: right;
}
